In [1]:
import pandas as pd
import time

time_start=time.time()
train=pd.read_csv('invite_info.txt',sep='\s+',names=['qid','uid','time','target'])
test=pd.read_csv('invite_info_evaluate_1.txt',sep='\s+',names=['qid','uid','time'])
test2=pd.read_csv('invite_info_evaluate_2_0926.txt',sep='\s+',names=['qid','uid','time'])

In [2]:
all_data=pd.concat([train[['qid','uid','time']],test2,test])
def time_(x):
    temp=x[1:].split('-H')
    return int(temp[0])*24+int(temp[1])

In [3]:
from tqdm import tqdm
tqdm.pandas()

In [4]:
all_data['time']=all_data['time'].progress_apply(lambda x:time_(x))

100%|██████████| 11772563/11772563 [00:29<00:00, 396623.82it/s]

In [5]:
all_data=all_data.groupby(['qid'])

In [6]:
freq=[]
qid=[]
uid=[]
for i ,data in tqdm(all_data):
    data=data.sort_values(by='time').reset_index(drop=True).reset_index()
    freq+=data['index'].tolist()
    qid+=data['qid'].tolist()
    uid+=data['uid'].tolist()

100%|██████████| 1108278/1108278 [28:02<00:00, 658.84it/s]

In [7]:
feature=pd.DataFrame()
feature['qid_freq']=freq
feature['qid']=qid
feature['uid']=uid

In [8]:
len(feature)

11772563

In [11]:
feature

          qid_freq          qid          uid
0                0  Q1000002524  M2358184554
1                1  Q1000002524   M562088453
2                0  Q1000006560  M1628216851
3                0  Q1000007604  M3893975964
4                1  Q1000007604  M1257380516
5                2  Q1000007604  M2670314058
6                3  Q1000007604   M274784249
7                4  Q1000007604  M3792754051
8                5  Q1000007604  M2627631122
9                6  Q1000007604   M973577865
10               7  Q1000007604  M3737115870
11               0  Q1000008276  M1501011241
12               1  Q1000008276  M2865272303
13               2  Q1000008276  M1455895037
14               3  Q1000008276  M2310696299
15               4  Q1000008276  M1755649682
16               5  Q1000008276  M2459541170
17               6  Q1000008276   M368565560
18               0  Q1000010200  M1251146772
19               0  Q1000020925  M1272153914
20               1  Q1000020925  M1651621719
21               0  Q1000025766    M58101215
22               0   Q100002777  M2656054596
23               1   Q100002777  M3852471591
24               2   Q100002777  M1828018328
25               3   Q100002777  M1348363392
26               4   Q100002777   M275253576
27               5   Q100002777  M2903710316
28               6   Q100002777  M1598067661
29               7   Q100002777   M464832426
...            ...          ...          ...
11772533         5   Q999996608  M3430853447
11772534         6   Q999996608  M2155773305
11772535         7   Q999996608   M398686586
11772536         8   Q999996608  M1544970319
11772537         9   Q999996608    M23022373
11772538        10   Q999996608  M1225486603
11772539        11   Q999996608  M2122408100
11772540        12   Q999996608  M3677651164
11772541        13   Q999996608  M4208689635
11772542        14   Q999996608  M3211795756
11772543        15   Q999996608  M3760615961
11772544         0   Q999997494  M1441164398
11772545         1   Q999997494  M4105743043
11772546         2   Q999997494  M1647445852
11772547         3   Q999997494  M3661784858
11772548         4   Q999997494  M1691971091
11772549         5   Q999997494  M2669509380
11772550         6   Q999997494  M1649774768
11772551         0   Q999999307  M2635834374
11772552         1   Q999999307  M2134490902
11772553         2   Q999999307  M3182879483
11772554         3   Q999999307  M2304821657
11772555         4   Q999999307  M3214511179
11772556         5   Q999999307  M3269900914
11772557         6   Q999999307   M652016459
11772558         7   Q999999307  M2563129386
11772559         8   Q999999307  M2684003014
11772560         9   Q999999307  M2597917793
11772561        10   Q999999307  M3962420484
11772562        11   Q999999307  M3448777275

[11769473 rows x 3 columns]

In [10]:
feature=feature.drop_duplicates(['qid','uid'])

In [12]:
feature=feature.reset_index(drop=True)

In [13]:
feature.to_hdf('feature_qid_freq2.h5', key='data')

In [10]:
time_end=time.time()
print('totally cost',time_end-time_start)

totally cost 71.99201583862305