In [1]:
import pandas as pd
import time

In [2]:
train=pd.read_csv('invite_info.txt',sep='\s+',names=['qid','uid','time','target'])
test=pd.read_csv('invite_info_evaluate_1.txt',sep='\s+',names=['qid','uid','time'])
test2=pd.read_csv('invite_info_evaluate_2_0926.txt',sep='\s+',names=['qid','uid','time'])

In [3]:
from tqdm import tqdm
tqdm.pandas()

In [4]:
all_data=pd.concat([train[['qid','uid','time']],test,test2])

In [5]:
all_data['day']=all_data['time'].progress_apply(lambda x:int(x[1:].split('-H')[0]))

100%|██████████| 11772563/11772563 [00:24<00:00, 490187.17it/s]

In [7]:
all_data['hour']=all_data['time'].progress_apply(lambda x:int(x[1:].split('-H')[1]))

100%|██████████| 11772563/11772563 [00:23<00:00, 510072.95it/s]

In [8]:
def time_(x):
    temp=x[1:].split('-H')
    return int(temp[0])*24+int(temp[1])

In [9]:
all_data['time']=all_data['time'].progress_apply(lambda x:time_(x))

100%|██████████| 11772563/11772563 [00:29<00:00, 403208.49it/s]

In [10]:
all_data['day']=all_data['day'].astype(int)
all_data['hour']=all_data['hour'].astype(int)

In [11]:
all_data['uday_invite_rank']=all_data.groupby(['uid','day'])['hour'].rank(ascending=1,method='min')
feature=all_data.groupby(['uid','day','hour'])['qid'].agg('count').reset_index()
feature.columns=['uid', 'day', 'hour', 'uday_sametime_icount']
all_data=all_data.merge(feature,on=['uid', 'day', 'hour'],how='left')

In [12]:
all_data['qday_invite_rank']=all_data.groupby(['qid','day'])['hour'].rank(ascending=1,method='min')
feature=all_data.groupby(['qid','day','hour'])['uid'].agg('count').reset_index()
feature.columns=['qid', 'day', 'hour', 'qday_sametime_icount']
all_data=all_data.merge(feature,on=['qid', 'day', 'hour'],how='left')

In [13]:
feature=all_data.groupby(['qid'])['time'].agg('nunique').reset_index()
feature.columns=['qid', 'qid_itime_nunique']
all_data=all_data.merge(feature,on=['qid'],how='left')

In [14]:
feature=all_data.groupby(['qid'])['time'].agg('count').reset_index()
feature.columns=['qid', 'qid_i_count']
all_data=all_data.merge(feature,on=['qid'],how='left')

In [15]:
all_data['qitime_ratio']=all_data['']/all_data['qid_i_count']

In [16]:
feature=all_data.groupby(['qid','day'])['time'].agg('nunique').reset_index()
feature.columns=['qid','day', 'qid_giday_time_nunique']
all_data=all_data.merge(feature,on=['qid','day'],how='left')

In [17]:
feature=all_data.groupby(['qid'])['qday_sametime_icount'].agg('max').reset_index()
feature.columns=['qid', 'qday_sametime_icount_max']
all_data=all_data.merge(feature,on=['qid'],how='left')

In [18]:
all_data['qitime_ratio2']=all_data['qid_itime_nunique']/all_data['qday_sametime_icount_max']

In [22]:
all_data=all_data.drop_duplicates(['qid','uid'])

In [23]:
all_data2=pd.concat([train[['qid','uid','time']],test2])

In [26]:
all_data2=all_data2.merge(all_data,on=['qid','uid'],how='left')

In [28]:
all_data2.drop(['time_x','time_y','day','hour','qid','uid'],axis=1).to_hdf('feature_today_invite_new2.h5', key='data')

In [20]:
####前7天收到的邀请

In [11]:
all_data_u=all_data.drop(['hour','qid'],axis=1)

In [12]:
all_data_u=pd.merge(all_data,all_data_u,on='uid',how='inner')

In [13]:
all_data_u['sub_time']=all_data_u['time_x'].astype(int)-all_data_u['time_y'].astype(int)
all_data_u['sub_day']=all_data_u['day_x'].astype(int)-all_data_u['day_y'].astype(int)

In [14]:
all_data_u=all_data_u[(all_data_u['sub_time']>0) & (all_data_u['sub_time']<7*24)]

In [15]:
all_data_u=all_data_u.groupby(['uid','qid']).agg({'sub_time':['mean','min','max','std'],
                                                  'sub_day':['mean','min','max','nunique','count','median'],
                                                 }).reset_index()

In [16]:
all_data_u.columns=['uid','qid','7isub_time_mean','7isub_time_min','7isub_time_max','7isub_time_std',
                   '7isub_day_mean','7isub_day_min','7isub_day_max','7isub_day_nunique','7isub_day_count','7isub_day_median']

In [17]:
import numpy as np
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [18]:
all_data_u=reduce_mem_usage(all_data_u)

Mem. usage decreased to 276.25 Mb (66.7% reduction)

In [21]:
all_data_u.to_hdf('u7days_invite_count2.h5', key='data')

In [20]:
all_data_u

,uid,qid,7isub_time_mean,7isub_time_min,7isub_time_max,7isub_time_std,7isub_day_mean,7isub_day_min,7isub_day_max,7isub_day_nunique,7isub_day_count,7isub_day_median
0,M1000000382,Q2418257178,37.000000,27,47,14.140625,1.500000,1,2,2,2,1.5
1,M1000000382,Q2557202265,47.000000,47,47,NaN,2.000000,2,2,1,1,2.0
2,M1000000382,Q3739876694,98.000000,27,144,51.093750,4.000000,1,6,4,4,4.5
3,M1000000382,Q3910864809,77.500000,54,101,33.218750,3.000000,2,4,2,2,3.0
4,M1000000382,Q4038278259,94.687500,70,117,23.593750,4.000000,3,5,3,3,4.0
5,M1000000382,Q4251023727,20.000000,20,20,NaN,1.000000,1,1,1,1,1.0
6,M1000000382,Q4280175724,85.500000,72,99,19.093750,3.500000,3,4,2,2,3.5
7,M1000000382,Q920413653,78.000000,21,120,51.187500,3.333984,1,5,3,3,4.0
8,M1000000983,Q1094985150,145.000000,145,145,NaN,6.000000,6,6,1,1,6.0
9,M1000000983,Q1425436837,35.500000,23,48,17.671875,1.500000,1,2,2,2,1.5
10,M1000000983,Q1464309172,61.812500,18,113,40.593750,2.800781,1,5,4,5,3.0
11,M1000000983,Q165310659,61.812500,18,113,40.593750,2.800781,1,5,4,5,3.0
12,M1000000983,Q2079515575,111.375000,25,152,52.843750,4.398438,1,6,4,5,5.0
13,M1000000983,Q240609210,68.125000,24,137,44.812500,3.000000,1,6,5,7,2.0
14,M1000000983,Q2611259517,25.000000,25,25,NaN,1.000000,1,1,1,1,1.0
15,M1000000983,Q2643654740,81.000000,72,98,14.734375,3.333984,3,4,2,3,3.0
16,M1000000983,Q2666917869,121.500000,75,152,28.453125,4.832031,3,6,4,6,5.0
17,M1000000983,Q2729029889,87.625000,28,165,47.968750,3.625000,1,7,6,8,3.0
18,M1000000983,Q3578328718,145.000000,145,145,NaN,6.000000,6,6,1,1,6.0
19,M1000000983,Q3839054467,54.750000,7,95,37.375000,2.250000,0,4,4,4,2.5
20,M1000000983,Q4120770363,117.000000,117,117,NaN,5.000000,5,5,1,1,5.0
21,M1000000983,Q4230675815,63.656250,40,88,24.000000,3.000000,2,4,3,3,3.0
22,M1000000983,Q493285513,93.812500,1,153,65.562500,3.666016,0,6,5,6,4.5
23,M1000008978,Q1752204176,83.312500,54,142,50.812500,3.333984,2,6,2,3,2.0
24,M1000008978,Q2876501878,25.000000,25,25,0.000000,1.000000,1,1,1,2,1.0
25,M1000008978,Q3185749901,88.000000,88,88,NaN,4.000000,4,4,1,1,4.0
26,M1000008978,Q3756002076,25.000000,25,25,0.000000,1.000000,1,1,1,2,1.0
27,M1000008978,Q391035905,83.312500,54,142,50.812500,3.333984,2,6,2,3,2.0
28,M1000008978,Q455448743,88.000000,88,88,NaN,4.000000,4,4,1,1,4.0
29,M1000008978,Q634759810,152.000000,152,152,0.000000,6.000000,6,6,1,2,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9052020,M999987387,Q3962319184,78.000000,24,156,64.500000,3.500000,1,7,3,4,3.0
9052021,M999987387,Q42957696,121.000000,121,121,NaN,5.000000,5,5,1,1,5.0
9052022,M999988985,Q1180648738,15.000000,15,15,NaN,0.000000,0,0,1,1,0.0
9052023,M999988985,Q1259251514,84.250000,17,142,47.625000,4.125000,1,6,6,8,4.5
9052024,M999988985,Q1344602554,97.500000,31,158,49.437500,4.375000,1,7,7,8,4.5
9052025,M999988985,Q1780344770,59.812500,19,87,25.828125,2.400391,1,3,3,5,3.0
9052026,M999988985,Q1985011326,76.875000,11,125,42.250000,3.572266,1,5,5,7,4.0
9052027,M999988985,Q2261506719,84.312500,29,158,46.406250,3.445312,1,7,7,9,3.0
9052028,M999988985,Q2558150911,73.437500,7,163,53.406250,3.222656,0,7,8,9,3.0
9052029,M999988985,Q2711249658,74.750000,11,156,50.500000,3.625000,1,7,7,8,3.5
9052030,M999988985,Q2752878845,51.000000,34,68,13.976562,1.750000,1,2,2,4,2.0
9052031,M999988985,Q3112228445,11.500000,4,19,10.609375,0.000000,0,0,1,2,0.0
9052032,M999988985,Q3357314328,22.671875,15,34,10.015625,1.000000,1,1,1,3,1.0
9052033,M999988985,Q3700669726,92.687500,6,164,56.531250,3.888672,0,7,8,9,4.0
9052034,M999988985,Q3909171330,76.812500,27,114,33.593750,3.000000,1,4,4,6,3.5
9052035,M999995457,Q206511983,82.000000,46,154,62.343750,3.666016,2,7,2,3,2.0
9052036,M999995457,Q2254600661,99.000000,48,150,72.125000,4.000000,2,6,2,2,4.0
9052037,M999995457,Q2999225440,108.000000,108,108,NaN,5.000000,5,5,1,1,5.0
9052038,M999995457,Q3418190274,132.625000,102,148,26.562500,5.332031,4,6,2,3,6.0
9052039,M999995457,Q4189793239,108.000000,108,108,NaN,5.000000,5,5,1,1,5.0
9052040,M999998695,Q146950355,133.000000,99,167,48.093750,5.500000,4,7,2,2,5.5
9052041,M999998695,Q2148439641,73.000000,73,73,NaN,3.000000,3,3,1,1,3.0
9052042,M999998695,Q2380221318,42.000000,42,42,NaN,2.000000,2,2,1,1,2.0
9052043,M999998695,Q2569064735,75.500000,51,100,34.656250,3.000000,2,4,2,2,3.0
9052044,M999998695,Q2715156151,98.500000,49,148,70.000000,4.000000,2,6,2,2,4.0
9052045,M999998695,Q4000964669,104.500000,68,141,51.625000,4.500000,3,6,2,2,4.5
9052046,M999998888,Q2360751759,143.000000,143,143,NaN,6.000000,6,6,1,1,6.0
9052047,M999998888,Q2483925541,51.000000,51,51,NaN,2.000000,2,2,1,1,2.0
9052048,M999998888,Q300192118,148.000000,148,148,NaN,6.000000,6,6,1,1,6.0
9052049,M999998888,Q467970961,28.000000,28,28,NaN,1.000000,1,1,1,1,1.0

In [ ]:
####前7天收到的邀请

In [6]:
all_data_u=all_data.drop(['uid','time'],axis=1)

In [7]:
all_data_u=pd.merge(all_data_u,all_data_u,on='qid',how='inner')

In [8]:
all_data_u['sub_day']=all_data_u['day_x'].astype(int)-all_data_u['day_y'].astype(int)

In [9]:
all_data_u=all_data_u[(all_data_u['sub_day']>0) & (all_data_u['sub_day']<8)]

In [10]:
all_data_u=all_data_u.groupby(['qid','day_x'])['sub_day'].agg(['count','nunique']).reset_index()

In [11]:
all_data_u.columns=['uid','day','q7days_invite_pcount','q7days_invite_daynunique']

In [12]:
all_data_u['q7days_invite_pcount']=all_data_u['q7days_invite_pcount']/all_data_u['q7days_invite_daynunique']

In [14]:
all_data_u

                 uid   day  q7days_invite_pcount  q7days_invite_daynunique
0        Q1000007604  3839              2.000000                         1
1        Q1000007604  3840              1.500000                         2
2        Q1000007604  3841              1.333333                         3
3        Q1000007604  3842              2.500000                         4
4        Q1000007604  3843              1.400000                         5
5        Q1000008276  3862              3.000000                         1
6        Q1000008276  3863              2.000000                         2
7        Q1000008276  3867              3.333333                         3
8         Q100002777  3849             22.000000                         1
9        Q1000049860  3866              1.000000                         1
10       Q1000049860  3867              1.000000                         2
11       Q1000050745  3861             20.000000                         1
12       Q1000050745  3862             18.000000                         2
13       Q1000055583  3841              2.000000                         1
14       Q1000070819  3858              3.000000                         1
15       Q1000077463  3846             12.000000                         1
16       Q1000077463  3847             12.000000                         2
17       Q1000077463  3848             22.000000                         3
18       Q1000077463  3850              4.250000                         4
19       Q1000077463  3851              3.600000                         5
20       Q1000077463  3852              3.166667                         6
21       Q1000079202  3842              1.000000                         1
22       Q1000079202  3843              1.000000                         2
23       Q1000079202  3844              2.000000                         3
24       Q1000079202  3846              1.250000                         4
25       Q1000079202  3847              2.500000                         4
26       Q1000079202  3848              7.000000                         5
27       Q1000079202  3849              2.000000                         6
28       Q1000079202  3852              9.000000                         4
29       Q1000079202  3853             10.400000                         5
...              ...   ...                   ...                       ...
1694472   Q999928848  3864              1.000000                         2
1694473   Q999928848  3866              1.000000                         3
1694474   Q999928848  3867              1.000000                         4
1694475    Q99993697  3858            117.000000                         1
1694476   Q999941279  3841             10.000000                         1
1694477   Q999941734  3872              7.000000                         1
1694478    Q99994205  3852             16.000000                         1
1694479   Q999944094  3865              3.000000                         1
1694480   Q999958198  3865              4.000000                         1
1694481   Q999969820  3855              2.000000                         1
1694482   Q999970938  3859              4.000000                         1
1694483   Q999972709  3871              2.000000                         1
1694484   Q999976398  3863              2.000000                         1
1694485   Q999976398  3866              1.500000                         2
1694486   Q999976398  3868              5.333333                         3
1694487   Q999978668  3855              1.000000                         1
1694488   Q999986135  3869              3.000000                         1
1694489   Q999990752  3865             20.000000                         1
1694490   Q999992666  3839              8.000000                         1
1694491   Q999993281  3866             13.000000                         1
1694492   Q999993281  3867              7.000000                         2
1694493   Q999993281  3869             15.000000                         3
1694494   Q999993281  3872             13.500000                         4
1694495   Q999995156  3858             56.000000                         1
1694496   Q999996608  3863              9.000000                         1
1694497   Q999996608  3865             12.000000                         2
1694498   Q999996608  3866             20.000000                         3
1694499   Q999999307  3869              4.000000                         1
1694500   Q999999307  3870              5.000000                         2
1694501   Q999999307  3872             11.666667                         3

[1694502 rows x 4 columns]

In [16]:
#all_data_u.to_csv('q7days_invite_count.csv',index=False)
all_data_u.to_hdf('q7days_invite_count2.h5', key='data')

In [ ]:
###从ALL_DATA开始