In [1]:
import pandas as pd
import time

time_start=time.time()
answer_info=pd.read_csv('answer_info.txt',sep='\s+',names=['aid','qid','uid','atime','ainfo','ainfoc','fine',
                                                                 'recommend','table','picture','video','numword',
                                                                 'thumbsup','thumbsdown','comment','collect','thank',
                                                                 'report','nohelp','oppose'])
invite_info=pd.read_csv('invite_info.txt',sep='\s+',names=['qid','uid','time','target'])
invite_info_evaluate=pd.read_csv('invite_info_evaluate_2_0926.txt',sep='\s+',names=['qid','uid','time'])
ques_info=pd.read_csv('question_info.txt',sep='\s+',names=['qid','qtime','qtitle','qtitlec','qinfo','qinfoc','qtopic'])

In [2]:
answer_info=answer_info[['aid','qid','uid','atime']]
ques_info=ques_info[['qid','qtopic']]

In [3]:
answer_info=pd.merge(answer_info,ques_info,on='qid',how='left')

In [4]:
len(answer_info)

4513735

In [5]:
answer_info=answer_info.dropna(subset=['qtopic'])

In [6]:
len(answer_info)

4513735

In [7]:
answer_info.head()

,aid,qid,uid,atime,qtopic
0,A2502060945,Q1867533817,M625498202,D3808-H7,"T381,T8211,T3144,T4936,T823"
1,A2847829478,Q3366788616,M142330444,D3810-H17,"T5490,T2180,T17098"
2,A2005999231,Q4264694221,M771499642,D3853-H13,"T8716,T10196,T8767"
3,A14821523,Q1088851650,M2282072267,D3859-H18,T258
4,A731550034,Q1023877868,M2282072267,D3855-H22,"T95,T545"

In [8]:
from tqdm import tqdm
tqdm.pandas()

In [9]:

answer_info['topic']=answer_info['qtopic'].progress_apply(lambda x:' '.join(x.split(',')))

100%|██████████| 4513735/4513735 [00:10<00:00, 450028.66it/s]

In [10]:
word=' '.join(answer_info['topic']).split(' ')
import collections
count = collections.Counter(word)

In [11]:
def topic_answer_count(x):
    result=0
    for i in x.split(','):
        result+=count[i]
    return result

In [12]:
ques_info.head()

           qid                        qtopic
0  Q2234111670         T321,T730,T5784,T4389
1   Q760329790             T278,T12673,T4677
2   Q741313548                          T226
3  Q3481466230                     T51,T4468
4  Q3966197028  T54700,T81,T57,T17670,T43574

In [13]:
ques_info['t_a_count']=ques_info['qtopic'].progress_apply(lambda x:topic_answer_count(x))

100%|██████████| 1829900/1829900 [00:04<00:00, 374544.99it/s]

In [14]:
ques_info.head()

           qid                        qtopic  t_a_count
0  Q2234111670         T321,T730,T5784,T4389      12495
1   Q760329790             T278,T12673,T4677       2301
2   Q741313548                          T226       7867
3  Q3481466230                     T51,T4468      16665
4  Q3966197028  T54700,T81,T57,T17670,T43574      33211

In [15]:
len(ques_info)

1829900

In [16]:
ques_info=ques_info.drop_duplicates(['qid'])

In [21]:
ques_info=ques_info.reset_index(drop=True)

In [22]:
ques_info[['qid','t_a_count']].to_hdf('feature_topic_answer.h5', key='data')

In [23]:
time_end=time.time()
print('totally cost',time_end-time_start)

totally cost 1241.3220973014832